<div class="boxes">
	
	<!-- <div>
		A basic message
	</div>

	<div>
		A title with a text under
	</div>

	<div>
		A success message!
	</div>

	<div>
		A warning message, with a function attached to the "Confirm"-button
	</div>

	<div>
		... and by passing a parameter, you can execute something else for "Cancel".
	</div>

	<div>
		A message with a custom icon
	</div> -->

	<table class="table table-responsive">
		<tr>
			<td>
				A basic message
			</td>
			<td>
				<button class="btn btn-info" ng-click="publicCtrl.message()"> Try me!</button>
			</td>
		</tr>
		<tr>
			<td>
				A title with a text under
			</td>
			<td>
				<button class="btn btn-info" ng-click="publicCtrl.title()"> Try me!</button>
			</td>
		</tr>
		<tr>
			<td>
				A success message!
			</td>
			<td>
				<button class="btn btn-info" ng-click="publicCtrl.success()"> Try me!</button>
			</td>
		</tr>
		<tr>
			<td>
				A warning message, with a function attached to the "Confirm"-button
			</td>
			<td>
				<button class="btn btn-info" ng-click="publicCtrl.warning()"> Try me!</button>
			</td>
		</tr>
		<tr>
			<td>
				... and by passing a parameter, you can execute something else for "Cancel"
			</td>
			<td>
				<button class="btn btn-info" ng-click="publicCtrl.cancel()"> Try me!</button>
			</td>
		</tr>
		<tr>
			<td>
				A message with a custom icon
			</td>
			<td>
				<button class="btn btn-info" ng-click="publicCtrl.custom()"> Try me!</button>
			</td>
		</tr>
	</table>

</div>
